*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
body{
    background-color: pink;
}
header{
    margin:0;
}

.index-top{
    margin: 0;
  
    
}
.hkiulogo{
    margin-right:auto;
    margin-left: auto;
    display: block;
    width: 400px;
    height: 100px;
}

.index-1{
    background-color: rgb(185, 66, 239);
}
.headerdiv{
    background: linear-gradient(90deg, rgba(222,112,175,1) 0%, rgba(183,29,253,1) 50%, rgba(252,164,69,1) 100%);
}

.aboutimg{
    max-width: 100%;
}

.headerh1{
    margin-right: auto;
    margin-left:auto;
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 20px; 
    background-image: linear-gradient(
        90deg,
        #ffffff 0%,
        #10eb97 29%,
        #4478e8 67%,
        #e82323 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textanimation 2s linear infinite;
    }
    
    @keyframes textanimation {
    to {
        background-position: 200% center;
    }
     }

.index-ul{   
    list-style-type: none;
    display: flex;
    margin: auto;
    /* background-color: rgb(190, 57, 211); */
    padding-bottom: 20px;
    background-color: black;
    padding-top: 20px;
}

.index-li{
    margin:auto;
}

.index-li:hover{
    opacity: 1;
}

.about-li{
    opacity: 1;
    border-bottom: 3px solid pink;
    text-decoration: none;
    color: pink;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.index-nav{
display: block;
margin: auto
}

.index-a{
    text-decoration: none;
    color: pink;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    opacity: 0.75;
    transition: 0.3s ease-out 100ms;
}

.about-a{
    opacity: 1;
    border-bottom: 3px solid pink;
    text-decoration: none;
    color: pink;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.index-a:hover{
    text-decoration: none;
    color: rgb(250, 213, 219);
    /* font-size: px; */
    opacity: 1;
    border-bottom: 3px solid pink;
}

.index-a:active{
    text-decoration: none;
    color: rgb(250, 213, 219);
    font-size: 20px;
    background-color: rgb(193, 110, 232);
    padding: 20px;
}

.index-a:visited{
    text-decoration: none;
    color: white;
    /* font-size: px; */
    opacity: 0.75;
}

.aboutimg{
    max-width: 100%;
}

.aboutp{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-p{
    border: 3px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    float: left;
    width: 40%;
    height: 600px;
    margin-left: 8%;
    background-color: black;
    color: white;
    overflow: scroll;
}

.about-p1{
    width: 40%;
    margin: auto;
    border: 3px solid white;
    padding-top: 15px;
    padding-bottom: 15px;
    float: right;
    height: 600px;
    background-color: black;
    margin-right: 8%;
    color: white;
}

p{
    padding: 10px; 
}

table{
    max-width: 70%;
    margin: auto;
    text-align: center;
    padding: auto 200px;
    margin-top: 700px;
    width: 1020px;
    border: 2px solid white;
    border-collapse: collapse;

}

caption{
    font-weight: bold;
    font-size: 1.5em;
    font-family: Helvetica, Arial, sans-serif;
    background-color: black;
    padding: auto 200px;
    margin: auto;
    margin-bottom: 10px;
    color: white;
}

thead{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    background-color: rgb(18, 18, 18);
}

tr{
    border: 1px solid white;
    border-collapse: collapse;   
}


.body-tr:hover{
    background-color: rgb(154, 117, 123);
}

.body-tr:nth-child(odd){
    background-color: rgb(60, 46, 48);
}

.body-tr:hover{
    background-color: rgb(154, 117, 123);
}


td{
    border: 1px solid white;
    border-collapse: collapse;

    padding: 10px;
    color: white;
}

tbody{
    background-color: rgb(103, 103, 103);
}


footer{
    text-align: center;
    background-color: rgb(213, 184, 239);
    float: left;
    width: 100%;
    margin: 0;
    padding-bottom: 0;
    left: 0;
    right: 0;
}

.footerpic{
    width: 300px;
    height: 100px;
}