/* html{
    scroll-behavior: smooth;
} */
*:not(dd){
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}
header{
    margin: 0;
}


body{
    background-color: pink;
    margin-bottom: 0;
}

.index-top{
    position: absolute;
    top: 0px;
    left: 0px;
    margin-bottom: 50px;
    margin: 0;
    padding: 0;
}
.hkiulogo{
    margin-right:auto;
    margin-left: auto;
    display: block;
    width: 400px;
    height: 100px;
}

.index-1{
    background-color: rgb(185, 66, 239);
}
.headerdiv{
    background: linear-gradient(90deg, rgba(222,112,175,1) 0%, rgba(183,29,253,1) 50%, rgba(252,164,69,1) 100%);
}

.headerh1{
    margin-right: auto;
    margin-left:auto;
    display: block;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    padding-bottom: 20px; 
    background-image: linear-gradient(
        90deg,
        #ffffff 0%,
        #10eb97 29%,
        #4478e8 67%,
        #e82323 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textanimation 2s linear infinite;
    }
    
    @keyframes textanimation {
    to {
        background-position: 200% center;
    }
     }

.index-ul{   
list-style-type: none;
display: flex;
margin: auto;
/* background-color: rgb(190, 57, 211); */
padding-bottom: 20px;
background-color: black;
padding-top: 20px;
}

.index-li{
    margin:auto;
}

.index-li:hover{
    opacity: 1;
}

.home-li{
    opacity: 1;
    border-bottom: 3px solid pink;
    text-decoration: none;
    color: pink;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.index-nav{
display: block;
margin: auto;
border-bottom: 5px solid pink;
}

.index-a{
    text-decoration: none;
    color: pink;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    opacity: 0.75;
    transition: 0.3s ease-out 100ms;
}

.home-a{
    opacity: 1;
    border-bottom: 3px solid pink;
    text-decoration: none;
    color: pink;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.index-a:visited{
    text-decoration: none;
    color: white;
    opacity: 0.75;
}

.index-a:hover{
    text-decoration: none;
    color: rgb(250, 213, 219);
    opacity: 1;
    border-bottom: 3px solid pink;
}

.index-a:active{
    text-decoration: none;
    color: rgb(250, 213, 219);
    font-size: 20px;
    background-color: rgb(193, 110, 232);
    padding: 20px;
}



.index-p{
    padding: 30px 10px;
    text-align: center;
    background-color: black;
    font-family:'Montserrat';
    font-weight: bold;
    color: white;
    margin-top: 200px;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
    
}

p{
    padding: 10px;
}
.index2{
    margin-top: 500px ;
    border: 5px solid black;
    background-color: black;
    color: white;
    padding: 10px;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.index-list{
    float: left;
    width: 50%;
    padding-left: 20;
    margin-left: 2%;
    
}

.index-list2{
    float:right;
    width: 40%;
    font-weight: bold;
    margin-right: 2%;
}

.locationimg{
    max-width: 70%;
    margin-top: 50px;
    max-height: 50%;
}

.applybutton{
    max-width: 30%;
    margin-left: 40px;
    max-height: 3%;
}

footer{
    text-align: center;
    background-color: rgb(213, 184, 239);
    float: left;
    width: 100%;
    margin: 0%;
    padding-bottom: 0;
    left: 0;
    right: 0;
}

.footerpic{
    width: 300px;
    height: 100px;
}